html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	line-height: 1;
	font-family: 'Barlow Condensed', sans-serif;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
h1 {
	font-size: 72px;
	font-weight: 700;
}
h2 {
	font-size: 50px;
	font-weight: 600;
}
h3 {
	font-size: 40px;
}
h4 {
	font-size: 30px;
}
h5 {
	font-size: 23px;
	font-weight: 700;
}
h6 {
	font-size: 21px
}
p {
	font-size: 17px;
	font-weight: 400;
	margin-top: 35px;
}
a {
	font-size: 15px;
	font-weight: 400;
	display: inline-block;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
:root {
 --box :0px 0px 15px 0px rgba(0,0,0,0.2);
 --blue : #4aafe3;
 --hover : #3884ab;
 --default :#333333;
 --p: #999999;
 --second-color :#666666;
 --w :white;
}
/*================================ index page start here ===================================*/
/*canvas start here*/




canvas {
	display: block;
	vertical-align: bottom;
}
/* ---- particles.js container ---- */


/* ---- stats.js ---- */

/* ---- stats.js ---- */
/*canvas end here*/

/*header start here*/

section.header:after {
	position: absolute;
	content: '';
	background-repeat: no-repeat;
	width: 100%;
	left: 0;
	right: 0;
	bottom: -90px;
	background-size: cover;
	height: 90px;
	z-index: 90;
	background-color: #340538;
	border-top: 1px solid #f2f2f2;
}
section.header {
	position: relative;
	z-index: 999999;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #340538;
}
.header_area {
	z-index: 999999;
	padding: 15px 0 0 0;
	background-color: #340538;
	position: fixed;
	top: 0px;
	height: 125px;
	width: 100%;
	border-bottom: 1px solid #f2f2f2;
}
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size:100%;
	background-size: cover;
	z-index: 91;
	background-position: 0 -90px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/148.jpg");
}
.nav-header {
	padding-top: 15px;
}
.header-bottom {
	margin: 124px 0 !important;
	position: relative;
	z-index: 91;
	padding-bottom: 200px !important;
	margin-top: 0px;
	top: 20px;
}
.header-bottom h1 {
	color: var(--w);
}
.header-bottom h1 span {
	color: var(--w);
	font-weight: 400;
	font-size: 48px;
}
.header-bottom h6 {
	color: var(--w);
	margin: 35px 0 0 0;
	line-height: 30px !important;
}
.header-bottom a {
	margin: 60px 0 0 0;
	padding: 20px 70px;
	text-transform: uppercase;
	color: var(--w);
	border-radius: 50px;
	border: 1px solid white;
	font-size: 20px;
	text-decoration: none;
}
.header-bottom a:hover {
	color: white;
	background: var(--blue);
	transform: scale(1.10);
	border: 1px solid var(--blue);
}
.header_area ul.nav-menu {
	margin: 40px 0 0 0;
	position: relative;
  right: -70px;
  top: 0px;
}
.nav-menu > li > a {
	font-size: 18px;
	padding: 0 15px;
	height: auto;
}
.nav-menu li:last-child a {/* height: auto; *//* padding: 14px 40px; *//* border: 1px solid white; *//* border-radius: 100px; *//* display: inline; */
}
.nav-menu > li > a:hover {
	color: var(--blue);
}
.nav-menu li a.ct {
	height: auto;
	padding: 14px 40px;
	border: 1px solid white;
	border-radius: 100px;
	display: inline;
	margin: 0px 0px 0px 70px !important;
}
.nav-menu li a.ct:hover {
	color: white;
	background: var(--blue);
	transform: scale(1.5);
	border: 1px solid var(--blue);
}
/*header end here*/

/*demand start here*/

.demand {
	position: relative;
	z-index: 1;
	margin: 10px 0 0 0;
	padding: 45px 0 70px 0;
}
.demand-inner {
	position: relative;
	z-index: 90;
}
#demand-net {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	background-position: 50% 50%;
	z-index: 90;
}
.demand h4 {
	color: var(--default);
}
.demand p {
	color: var(--p);
	font-size: 20px;
	width: 80%;
	margin: 35px auto 0 auto;
}
.demand .demand-logo {
	margin: 20px 0 0 0;
}
.demand .boxx {
	margin: 30px 0 0 0;
}
.demand img {
	margin: 0 auto;
	transition: all 0.3s ease-in-out;
	display: block;
	filter: grayscale(1);
}
.demand .boxx {
	border-radius: 10px;
	box-shadow: var(--box);
	background: white;
	min-height: 130px;
	padding: 20px;
	display: table;
	width: 100%;
}
.demand .boxx .box-inner {
	display: table-cell;
	vertical-align: middle;
}
.demand .boxx:hover img {
	filter: grayscale(0);
}
/*demand end here*/


/*service start here*/

.service {
	position: relative;
	z-index: 1;
	padding: 70px 0 40px 0;
}
#service-net {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	background-position: 50% 50%;
	z-index: 90;
}
.service-inner {
	position: relative;
	z-index: 90;
}
.service .box {
	padding: 33px 10px;
	box-shadow: 0 0 12px 4px rgba(0,0,0,.03);
	margin:0px 0 0 0;
	border-radius: 10px;
	position: relative;
	background-color: white;
	z-index: 90;

}
.service h2 {
	margin: 0 0 20px 0;
	text-transform: uppercase;
	font-weight: 400;
}
.service .box img {
}
.service .box h5 {
	margin: 25px 0 0 0;
	font-weight: 400;
}
.service .box p {
	margin: 45px 0 0 0;
	color: var(--p);
}
.service .box a {
	margin: 38px 0 0 0;
	padding: 10px 28px 11px 28px;
	border-radius: 50px;
	text-decoration: none;
	transition: all .3s ease-in-out;
	border: 1px solid var(--blue);
	line-height: 18px;
	background: #4aafe3 !important;
	color: #fff !important;
	font-weight: 600;
}
.service .box a:hover {
	transform: scale(1.10);
	background: var(--blue);
	color: white;
	border: 1px solid var(--blue);
}
.service-inner::after {
	position: absolute;
	content: '';
	background-image: url(../images/service-2.png);
	width: 204px;
	height: 98px;
	right: -121px;
	bottom: -30px;
}
.service-inner::before {
	position: absolute;
	content: '';
	background-image: url(../images/service-1.png);
	width: 204px;
	height: 98px;
	left: -125px;
	top: 220px;
}
/*service end here*/
/*about start here*/

.about {
	position: relative;
	z-index: 90;
	margin: 0;
}
.about h2 {
	margin:60px 0 0 0;
	color: var(--default);
	text-transform: uppercase;
	font-weight: 400;
}
.about p {
	color: var(--second-color);
	font-size: 18px;
	line-height: 23px;
	    margin: 10px 0px 30px 0px;
}

.about a:hover {
    transform: scale(1.10);
    background: var(--blue);
    color: white;
    border: 1px solid var(--blue);
}
.about a {
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    border: 1px solid var(--blue);
    line-height: 18px;
    background: #4aafe3 !important;
    color: #fff !important;
    font-weight: 600;
}
.about img {
	margin: 60px 0 0 0;
}
/*about end here*/


/*what start here*/

.service-inner .workinner p {
	color: #666;
	font-size: 16px;
	line-height: 24px;
	padding: 0px 160px;
	margin-bottom: 50px;
}
.what h5 {
	color: #000;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	padding-top: 50px;
	padding-bottom: 20px;
}
.what {
	position: relative;
	background-color: #fff;
	margin: 50px 0 0 0;
	border-bottom: 0px solid #222d62;
}
.what .box a:hover{color:#4aafe3; }
.what .box a {
    padding-top: 20px;
    color: #333;
    font-weight: bold;
	text-decoration: none;
}
.what::before {
	position: absolute;
	content: '';
	background-size: 100% 100%;
	height: 190px;
	width: 100%;
	top: -186px;
}

.demand-inner p {
    display: none !IMPORTANT;
}
#what-net {
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	z-index: 90;
}
.what-inner {
	position: relative;
	z-index: 90;
}

.what .box p {
    font-size: 16px;
    line-height: 22px;
}
.what .box {
	background: white;
	border-radius: 20px;
	padding: 40px 10px;
	margin: 40px 0 0 0;

}
.what .box h6 {
	color: var(--default );
	margin: 25px 0 0 0;
	font-weight: 500;
}
.what h2 {
	color: black;
	text-transform: uppercase;
	margin: 50px 0 0 0;
	font-weight: 400;
	font-size: 30px;
}
.what h4 {
	color: black;
	width: 100%;
	margin: 60px auto 0 auto;
	line-height: 40px;
	font-weight: 300;
}
.what .vid {
	text-align: center;
	position: relative;
	margin: 0 auto;
}
.what .vid img {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 110px;
}
/*what end here*/


/*konnect start here*/

.konnect {
	position: relative;
	z-index: 1;/* padding: 280px 0 40px 0; *//* background: url(../images/what-bottom.png) no-repeat bottom right; */
}
#konnect-net {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	background-position: 50% 50%;
	z-index: 90;
}
.konnect-inner {
	position: relative;
	z-index: 90;
	padding: 280px 0 0 0;
	background: url(../images/what-bottom.png) no-repeat bottom right;
	margin: 0 0 30px 0;
}
.konnect img {
}
.konnect h3 {
	position: relative;
}
.konnect h3::before {
	position: absolute;
	content: '';
	background-image: url(../images/what-before.png);
	background-repeat: no-repeat;
	width: 47px;
	height: 15px;
	left: 200px;
	margin: 0 auto;
	top: -10px;
}
.konnect ul {
	padding: 0;
	margin: 52px 0 0 0;
}
.konnect ul li {
	background: url(../images/icon.png) no-repeat;/* -webkit-background-size: cover; *//* background-size: cover; */
	font-size: 19px;
	padding: 0 0 24px 30px;
	color: #666666;
}
.konnect a {
	margin: 50px 0 0 0;
	border-radius: 50px;
	padding: 14px 70px 15px 70px;
	color: #170d5b;
	border: 1px solid #170d5b;
	text-decoration: none;
	font-size: 17px;
	line-height: 18px;
}
.konnect a:hover {
	background: var(--blue);
	color: white;
	transform: scale(1.1);
	border: 1px solid var(--blue);
}
.konnect-inner .col-md-6 {
	padding: 0;
}
/*konnect end here*/


/*try start here*/

.try {
	padding: 40px 0 70px 0;
	background: url(../images/fbg_02.jpg) no-repeat right;
	-webkit-background-size: cover;
	background-size: cover;
}
.try h2 {
	color: var(--w);
	font-size: 60px;
	margin: 650px 0 0 0;
}
.try p {
	color: var(--w);
	font-size: 16px;
	line-height: 20px;
}
.try a {
	border-radius: 40px;
	padding: 15px 40px 17px 40px;
	border: 1px solid var(--w);
	color: var(--w);
	margin: 50px 0 0 0;
	line-height: 21px;
	text-decoration: none;
}
.try a:hover {
	background: var(--blue);
	transform: scale(1.1);
	color: white;
	border: 1px solid var(--blue);
}
.try img {
	margin: 550px 0 0 50px;
}
/*try end here*/

/*client start here*/

.client {
	padding: 190px 0;
	background: url(../images/client.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.client .boxx {
	background-color: var(--w);
	padding: 50px;
	border-radius: 20px;
}
.client h2 {
	color: #49aee2;
}
.client p {
	color: #cccccc;
	font-size: 18px;
	margin: 10px 0 0 0;
}
.client .item {
}
.client .item img {
	margin: 20px 0 0 0;
}
.client .item h6 {
	font-size: 17px;
	color: var(--second-color);
	text-transform: capitalize;
	margin: 10px 0 0 0;
	font-weight: 500;
}
.client .item p {
	font-size: 18px;
	color: #999999;
	width: 70%;
	margin: 30px auto 0 auto;
	line-height: 25px;
}
.owl-theme .owl-dots .owl-dot span {
	background: #3a3b3b;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #c4c4c4;
}
.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 35px;
}
/*client end here*/

/*footer start here*/
.footer-bottom {
	padding: 30px 0;
	text-align: center;
	border-top: 1px solid #310770;
}
.footer-bottom p {
	font-size: 15px;
	color: #666666;
	margin: 0;
	font-weight: 700;
}
.footer-bottom a {
	color: #152069 !important;
	font-weight: bold;
	text-decoration: none;
}
footer {
	background: #f2f2f2;
}
footer .footer-top {
	padding: 40px 0;
}
footer .footer-top p {
	font-size: 16px;
	color: #152069;
	text-transform: capitalize;
	font-weight: 500;
}
footer .footer h6 {
	font-size: 18px;
	font-weight: 600;
	color: #333333;
	margin: 30px 0 0 0;
	text-transform: uppercase;
}
footer .footer ul {
	margin: 0;
	padding: 0;
	float: left;
}
footer .footer ul li {
	list-style-type: none;
	margin: 20px 0 0 0;
}
footer .footer ul li a {
	color: #999999;
	text-decoration: none;
}
footer .footer ul li a:hover {
	color: black;
}
footer .footer-1 ul {
	margin: 10px 0 0 0;
}
footer .footer-1 ul li {
	float: left;
	padding: 0 3px;
	margin: 0;
}
footer .footer-1 ul li a i:hover {
	background: #151f69;
}
.footer.footer-1 img {
	padding-top: 30px;
}
footer .footer-1 ul li a i {
	width: 30px;
	height: 30px;
	border-radius: 100px;
	background: #666666;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	color: white;
}
footer .footer-2 {
}
footer .footer-3 {
}
footer .footer-4 {
}
footer .footer-4 li:nth-child(1) {
	background: url('../images/map.png') no-repeat;
	padding: 0 0 0 20px;
}
footer .footer-4 li:nth-child(2) {
	background: url('../images/phone.png') no-repeat;
	padding: 0px 0 0 22px;
}
footer .footer-4 li:nth-child(3) {
	background: url('../images/email.png') no-repeat;
	padding: 0 0 0 22px;
}
/*footer end here*/

/*hover start here*/
.box:hover img {
	-webkit-animation-name: hvr-hang-sink, hvr-hang;
	animation-name: hvr-hang-sink, hvr-hang;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}



/*hover end here*/

/*================================ index page end here ===================================*/
/*================================ Inner page end here ===================================*/

.servicesone p {
    padding-bottom: 20px !important;
}
.pricingpage #particles-js, .services #particles-js, .aboutpage #particles-js, .experience #particles-js, .contact #particles-js, .discover #particles-js, .productinfinimesh #particles-js, .privacy-policy #particles-js, .teampage #particles-js {
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/124.jpg');
	background-repeat: no-repeat; !important;
	color: #180d5b !important;
}
.pricingpage .header-bottom,.services .header-bottom, .aboutpage .header-bottom, .discover .header-bottom, .experience .header-bottom, .contact .header-bottom, .productinfinimesh .header-bottom, .privacy-policy .header-bottom, .teampage .header-bottom {
	padding: 0px 0px 100px 0px !important;
}
.pricingpage .header-bottom h1,.services .header-bottom h1, .aboutpage .header-bottom h1, .privacy-policy .header-bottom h1, .teampage .header-bottom h1, .discover .header-bottom h1, .productinfinimesh .header-bottom h1, .contact .header-bottom h1, .experience .header-bottom h1 {
	text-align: center;
	font-size: 87px !important;
	font-weight: 600;
	text-transform: capitalize;
}
.teamone {
	padding-top: 100px;
	padding-bottom: 100px;
}
.servicesone {
	padding-top: 100px;
	padding-bottom: 250px;
}
.teamone p {
	color: #666;
	font-size: 18px;
	line-height: 25px;
	margin: 20px 0px 0px 0px !important;
}
.servicesone h5 {
	color: #333333;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 23px;
}
.servicesone p {
	margin: 0px;
	font-size: 18px;
	line-height: 23px;
	color: #666;
}
.teamone h4 {
	color: #333333;
	padding-top: 80px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 23px;
}
.teamone img.img-fluid {
	margin: 0px auto;
	float: none;
	display: table;
}
.teamone h4 ruby {
	font-size: 20px;
}
.privacy-policy-one p {
	text-align: center;
	padding-right: 100px;
	padding-left: 100px;
	font-size: 18px;
	line-height: 23px;
	color: #666;
}
.privacy-policy-one {
	padding-top: 100px;
	padding-bottom: 100px;
}
.pricingone {
	padding-top: 150px;
	padding-bottom: 150px;
}
.pricingone h1 {
	text-align: center;
	text-transform: uppercase;
	margin: 50px 0 0 0;
	font-weight: 500;
}
.pricingone p {
	color: var(--second-color);
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	margin-bottom: 100px;
	padding: 0px 100px;
}
.pricingone h3 {
	text-transform: uppercase;
	margin: 0px 0px 20px 0px;
	font-weight: 500;
}
.pricingone ul li {
	color: var(--second-color);
	font-size: 12px;
	line-height: 23px;
	padding-bottom: 10px;
}
.pricingone ul li.abc:last-child {
	padding-left: 10px;
	FONT-WEIGHT: BOLD;
}
.pricingone ul li.abc {
	display: inline-block !important;
}
.discoverone {
	padding-top: 100px;
	padding-bottom: 100px;
}
.discoverone h1 {
	text-transform: uppercase;
	font-weight: 400;
	text-align: center !important;
	margin: 0px auto;
	margin-bottom: 80px;
}
.discoverone h4 {
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 10px;
	margin-top: 30px;
}
.discoverone p {
	color: var(--second-color);
	font-size: 18px;
	line-height: 23px;
	margin: 0px !important;
}
.experienceone p {
	font-size: 18px;
	line-height: 25px;
	margin: 0px;
	padding-top: 20px;
	color: #666;
}
.experienceone h1 {
	color: #333;
}
.experienceone {
	padding-top: 100px;
	padding-bottom: 100px;
}
.Infinimeshone {
	padding-top: 100px;
	padding-bottom: 100px;
}
.Infinimeshone .infiniboxone p {
	margin: 20px 0px 40px 0px;
	font-size: 16px;
	line-height: 24px;
	color: #666;
}
.Infinimeshone .infiniboxone h2 {
	color: #333;
}
.Infinimeshone .infiniboxone {
	text-align: center;
}
.Infinimeshone .infiniboxtwo h2 {
	padding-bottom: 30px;
	color: #333;
}
.Infinimeshone .infiniboxtwo {
	text-align: center;
}
.Infinimeshone .infiniboxtwo h4 {
	padding: 10px 0px 20px 0px;
	font-size: 20px;
}
.Infinimeshone .infiniboxtwo p {
	margin: 0px;
	color: #666;
	font-size: 15px;
	line-height: 25px;
}
.contactone {
	padding-top: 100px;
	padding-bottom: 100px;
}
.contactone h1 {
	text-align: center;
	padding-bottom: 50px;
	color: #333;
}
.contactone h6 a {
	font-weight: bold;
	color: #17206a;
}
.contactone h6 {
	padding-bottom: 10px;
	color: #000;
	font-weight: bold;
}
.aboutone p {
	color: #666;
}
.aboutone h1 {
	color: #333;
}
.aboutone {
	padding-top: 100px;
	padding-bottom: 100px;
}

.pricingone ul {
      margin: 0px;
    padding: 0px 0px 0px 10px;
    float: none;
    text-align: left;
}
.pricingone .pricingboxes.two h3{color: #180d5b;}
.pricingone .pricingboxes:hover h3{color: #180d5b;}
.pricingone .pricingboxes h3{color: #000;transition: all 0.6s ease-in-out 0s;}
.pricingone .pricingboxes:hover,.pricingone .pricingboxes.two{
    border-top: 6px solid #49aee2 !IMPORTANT;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    border-radius: 10px;
}
.pricingone .pricingboxes {
    border-top: 6px solid #49aee2 !important;
    border: 3px solid;
    border-color: #49aee2;
    padding: 120px 0px 0px 0px;
    text-align: center;
    min-height: 450px;
    transition: all 0.6s ease-in-out 0s;

}


.pricingone ul i {
    color: #49aee2;
    font-size: 17px;
}



.productinfinimesh .box {
    margin-top: 30px;
}


.plan.basic {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.discoverone {
    text-align: center;
}
.discoverone img.img-fluid {
    width: 10%;
    margin-top: 20px;
}

/*================================ Inner page end here ===================================*/
/*================================Princing Inner page end here ===================================*/


#price {
  text-align: center;
}

.plan {
  display: inline-block;
  margin: 10px 1%;
	width: 100%;
  font-family: 'Lato', Arial, sans-serif;
	-webkit-box-shadow: 2px 2px 5px 5px #eee;
box-shadow: 2px 2px 5px 5px #eee;
	-webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
	position: relative;
}
.plan:hover{
	-webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.plan-inner {
  background: #fff;
  margin: 0 auto;
  max-width: 100%;
}

.entry-title {
  background: #48ade1 ;
  height: 140px;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.entry-title>h3 {
  background: #16cbf1;
  font-size: 20px;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.entry-title .price {
  position: absolute;
  bottom: -25px;
  background: #16cbf1;
  height: 95px;
  width: 95px;
  margin: 0 auto;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 50px;
  border: 5px solid #fff;
  line-height: 80px;
  font-size: 28px;
  font-weight: 700;
}

.price span {
  position: absolute;
  font-size: 9px;
  bottom: -10px;
  left: 30px;
  font-weight: 400;
}

.entry-content {
  color: #323232;
}

.entry-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.entry-content li {
  border-bottom: 1px solid #E5E5E5;
  padding: 10px 0;
}

.entry-content li:last-child {
  border: none;
}

.btn {
  padding: 3em 0;
  text-align: center;
}

.btn a {
  background: #323232;
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
	border-radius: 10px;
	    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    max-width: 150px;
    margin: 0 auto;


}
.hot {
    position: absolute;
    top: -7px;
    background: #F80;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
    padding: 2px 5px;
    font-size: 9px;
    border-radius: 2px;
    right: 10px;
    font-weight: 700;
}
.basic .entry-title {
  background: #180d5b;
}

.basic .entry-title > h3 {
  background:#0d053c;
}

.basic .price {
  background:#0d053c;
}

.standard .entry-title {
  background: #48ade1;
}

.standard .entry-title > h3 {
  background: #16cbf1;
}

.standard .price {
  background: #16cbf1;
}

.ultimite .entry-title > h3 {
  background: #DD4B5E;
}

.ultimite .entry-title {
  background: #F75C70;
}

.ultimite .price {
  background: #DD4B5E;
}

/*================================Princing Inner page end here ===================================*/

.service-inner::before,.service-inner::after{display: none;}

/*======================= responsive start here==============*/
@media (max-width: 4800px) {
#particles-js {
background-position: right;
    background-size: 80%;
}
.header-bottom {
	padding-top: 0px !important;
}
}

@media (max-width: 1440px) {
.try img {
	margin: 550px 0 0 0px;
}
.try h2 {
	margin: 600px 0 0 0;
}
}

@media (max-width: 1366px) {
.try h2 {
	margin: 580px 0 0 0 !important;
	font-size: 40px !important;
}
.service-inner::before {
	left: -60px;
	top: 50px;
}
.service-inner::after {
	right: -60px;
	bottom: -42px;
}
		.try a {margin: 0px !important; }

.try p {
   margin: 10px 0px!important;
}
}

@media (max-width:1200px) {

	.navigation-portrait .nav-menu > li > a {
	color: black;
	padding: 0 10px 10px 30px!important;
	border: 0!important;
}
.navigation-portrait .nav-menu>li:last-child {
	padding: 10px 0!important;
}
.navigation-portrait .nav-menu>li {
	padding: 15px 0 0 0 !important;
}

}
@media (max-width:1151px) {
    .nav-toggle:before {

background-color: #ffffff;

box-shadow: 0 0.5em 0 0 #ffffff, 0 1em 0 0 #fafcff;
}
.header-bottom {
	padding-top: 0px !important;
	padding-bottom: 20px !important;
}
.demand .boxx {
	padding: 2px !important;
}
.nav-menu li a.ct {
	margin: 0px 0px 0px 10px !important;
}
.try {
	padding: 300px 0px 60px 0px !important;
	background: #170d5b !important;
}
.try h2 {
	margin: 0px 0 0 0 !important;
}
.header-bottom h1 span {
	font-size: 35px;
}
.about h2 {
	margin: 50px 0 0 0;
}
.service-inner::before {
	left: -50px;
	top: 40px;
}
.service-inner::after {
	right: -46px;
	bottom: -40px;
}

.try img {
	margin: 60px 0 0 0;
}
.try h2 {
	margin: 230px 0 0 0;
}
.try img {
	margin: 0;
}
}

@media (min-width: 768px) and (max-width: 991px) {
.teamone h4 {
	padding-top: 10px;
}
.privacy-policy-one {
	padding-top: 20px;
	padding-bottom: 20px;
}
.teamone {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
section.header::after {
	bottom: -90px;
	border-top: 1px solid #340538;
}
.demand .boxx {
	padding: 0px !important;
	width: 100px!important;
}
.try {
	padding: 60px 0px !important;
}
.header-bottom {
	padding: 50px 0px 0px 0px !important;
}
.header_area ul.nav-menu {
	margin: 20px 0 0 0;
	float: left !important;
}
.nav-header {
	padding-top: 10px;
}
p {
	width: 100% !important;
}
.try h2 {
	margin: 0;
}
.try img {
	margin: 80px 0 0 0;
}
section.try {
	background: #030314;
	padding: 60px 0;
}
.about img {
	margin: 130px 0 0 0;
}
.what .vid img {
	top: 50px;
}
.konnect-inner {
	padding: 150px 0 40px 0;
}
.client {
	padding: 90px 0;
}
.konnect-inner .col-md-6 {
	padding: 0 15px;
}
.header-bottom h6 {
	padding-right: 100px !important;
}
	.pricingone p{padding: 0px !important;}

.pricingone {
    padding-top: 30px;
    padding-bottom: 20px;
}
}

@media (max-width: 767px) {

.pricingone {
    padding-top: 30px;
    padding-bottom: 20px;
}
	.pricingone p{padding: 0px !important;}
	.plan.basic {
    -webkit-transform: none;
    -ms-transform:  none;
    transform:  none;
}
.privacy-policy-one {
	padding-top: 20px;
	padding-bottom: 20px;
}
.teamone h4 {
	padding-top: 10px;
}
.teamone {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
section.header::after {
	bottom: -90px;
	border-top: 1px solid #340538;
}
.demand .boxx {
	padding: 0px !important;
	width: 100px!important;
}
.header-bottom h6 {
	padding-right: 100px !important;
}
.try {
	padding: 60px 0px !important;
}
.header-bottom {
	padding: 50px 0px 0px 0px !important;
}
.header_area ul.nav-menu {
	margin: 20px 0 0 0;
	float: left !important;
}
.client {
	padding: 90px 0;
}
p {
	width: 100% !important;
}
.konnect-inner {
	padding: 20px 0;
}
.konnect-inner .col-md-6 {
	padding: 0 15px;
}
section.try {
	background: #030314;
	padding: 30px 0;
}
.try h2 {
	margin: 0 0 0 0;
}
.try img {
	margin: 0;
}
section.client {
	padding: 70px 0;
}
.what h4 {
	width: 100%;
}
}

@media (max-width: 480px) {
.privacy-policy-one p {
	padding-right: 20px;
	padding-left: 20px;
}
.navigation-portrait .nav-brand img {
	width: 200px;
}
.demand .boxx {
	margin: 0px auto !important;
	margin-bottom: 10px !important;
}
.service-inner::after {
	right: 0;
	bottom: -40px;
}
.nav-menu > li > a {
	font-size: 18px;
	padding: 0 5px;
	height: auto;
}
.nav-menu li a.ct {
	margin: 0px 0px 0px 5px !important;
	padding: 10px 28px !important;
}
.what .vid img {
	top: 0px;
}
.try {
	padding: 20px 0px !important;
}
	.aboutone,.contactone,.discoverone ,.experienceone,.pricingone, .Infinimeshone,.servicesone {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

	.about  .header-bottom h1,.contacth1,.discover  .header-bottom h1,.experience  .header-bottom h1,.pricing  .header-bottom h1,.pricingpage  .header-bottom h1,.services .header-bottom h1, .aboutpage .header-bottom h1, .privacy-policy .header-bottom h1, .teampage .header-bottom h1, .discover .header-bottom h1, .productinfinimesh .header-bottom h1, .contact .header-bottom h1, .experience .header-bottom h1 {

    font-size: 50px !important;

}
	.discoverone,.pricingone {
    text-align: center;
}
	.discoverone p,.pricingone p {
    margin-bottom: 20px;
    padding: 0px 10px;
}
.pricingone h3 {
    margin: 20px 0px 20px 0px;

}
.discoverone h1 {
   margin-bottom: 0px;
}
	.aboutone h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.service-inner .workinner p
	{padding: 0px 0px;}


	.service-inner::after,.service-inner::before{display:none !important;}
	#particles-js {
    background-image: none !important;

}


}
@media (max-width: 375px) {
}

@media (min-width: 320px) and (max-width: 999px) {
/*menu start here*/
.nav-toggle:before {
	box-shadow: 0 0.5em 0 0 #fff, 0 1em 0 0 #fff;
	background: white;
}
.navigation-portrait .nav-menu > li > a {
	color: black;
	padding: 0 10px 10px 30px!important;
	border: 0!important;
}
.navigation-portrait .nav-menu>li:last-child {
	padding: 10px 0!important;
}
.navigation-portrait .nav-menu>li {
	padding: 15px 0 0 0!important;
}
/*menu end here*/
h1 {
	font-size: 40px;
}
h1 span {
	font-size: 25px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 19px
}
}
/*======================= responsive start here==============*/


/* Pricing */ 
.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

.pricing-table h2 {
    font-size: 20px;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  color: #016FF9;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px !important;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: #016FF9;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348EFE;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #48aaff;
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #269aff;
}
